.perfil{
	padding: 30px 0;
	h3{
		padding-bottom: 5px;
		font-size: 28px; 
	}
	.añadir{
		font-size: 14px;
		font-style: italic;
		text-decoration: underline;
		a{
			color: #666;
		}
	}
	.img-perfil{
		padding-bottom: 30px;
		img{
			max-width: 400px;
			box-shadow: 2px 2px 33px #888;
		}
	}
	#ficha{
		padding-top: 50px;
		.datos{
			padding-top: 50px;
			.nombre-jugador{
				font-size: 37px;
			}
			.datos-principales, .datos-secundarios{
				padding-top: 15px;
				p{
					padding-top: 15px;
					span{
						font-size: 17px;
						font-weight: 600;
					}
				}
			}
			.datos-secundarios{
				.pareja{
					a{
						color: #333;
						text-decoration: underline;
					}
				}
				.star-rating{
					padding-left: 37px;
				}
			}
		}
		.estadisticas, .clasificaciones{
			padding: 50px 0;
			.estadistica, .clasificacion{
				padding-top: 20px;
				span{
					display: block;
				    font-weight: 300;
				    font-size: 35px;
				    line-height: 1;
				    padding-top: 25px;
				}
				p{
					font-size: 18px;
	    			padding-top: 20px;
	    			line-height: 1;
				}
			}
			.clasificacion{
				padding-bottom: 0;
				.añadir{
					font-size: 23px;
					padding-bottom: 10px;
				}
			}
		}
		.trofeos{
			padding: 50px 0;
			.trofeo{
				padding-top: 40px;
				img{
					margin: 0 auto;
					width: 100px;
					height: 100px;
					margin-bottom: 12px;
				}
				p{
					font-size: 15px;
	    			padding-top: 20px;
	    			line-height: 1;
	    			&.subtitulo-trofeo{
	    				padding-top: 10px;
	    				font-size: 15px;
	    			}
				}
			}
		}
	}
	#partidos{
		.partidosPendientes, .partidosJugados{
			padding-top: 50px;
			.partido{
				padding-top: 40px;
				img{
					max-width: 350px;
					height: auto;
					padding-bottom: 12px;
				}
				.confirmado, .ganado{
					color: #58B957;
				}
				.pendiente{
					color: #F2AE43;
				}
				.perdido{
					color: #DB524B;
				}
			}
		}
	}
}